<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.elsigh.levels"
    version="0.1">
    <name>LevelsPlugin</name>
    <description>Levels Plugin</description>
    <license>Apache 2.0</license>
    <keywords>levels</keywords>

    <js-module src="www/levels_plugin.js" name="LevelsPlugin"></js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LevelsPlugin" >
                <param name="android-package"
                    value="com.elsigh.levels.LevelsPlugin" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.elsigh.levels.LevelsService"
                android:process=":levels_service" />
            <receiver android:name=".LevelsAutoStart">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
                <intent-filter>
                    <action android:name="android.intent.action.PACKAGE_REPLACED" />
                    <data android:path="com.elsigh.levels" android:scheme="package" />
                </intent-filter>
            </receiver>
            <receiver android:name="com.elsigh.levels.LevelsAlarm" android:process=":remote" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:host="www.levelsapp.com" />
            </intent-filter>
        </config-file>


        <!-- SOURCE FILES -->
        <source-file src="src/android/LevelsPlugin.java"
            target-dir="src/com/elsigh/levels" />

        <source-file src="src/android/Levels.java"
            target-dir="src/com/elsigh/levels" />
        <source-file src="src/android/LevelsAlarm.java"
            target-dir="src/com/elsigh/levels" />
        <source-file src="src/android/LevelsAutoStart.java"
            target-dir="src/com/elsigh/levels" />
        <source-file src="src/android/LevelsService.java"
            target-dir="src/com/elsigh/levels" />

        <source-file src="src/android/ant.properties"
            target-dir="" />
        <source-file src="src/android/levels-release-key.keystore"
            target-dir="" />
        <source-file src="src/android/local.properties"
            target-dir="" />

    </platform>

    <!-- ios -->


</plugin>
