<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.elsigh.contacts"
    version="0.1">
    <name>ContactsPlugin</name>
    <description>Contacts Plugin</description>
    <license>Apache 2.0</license>
    <keywords>contacts</keywords>

    <js-module src="www/contacts_plugin.js" name="ContactsPlugin"></js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ContactsPlugin" >
                <param name="android-package"
                    value="com.elsigh.contacts.ContactsPlugin" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.READ_CONTACTS" />
        </config-file>

        <source-file src="src/android/ContactsPlugin.java"
            target-dir="src/com/elsigh/contacts" />
    </platform>

    <!-- ios -->


</plugin>
