

.fmb-account .account {
  padding: 0 10px;
}

.fmb-account .username-taken-err {
  display: none;
  font-size: 90%;
  color: red;
}

.fmb-account .username-taken-err.fmb-active {
  display: block;
}

.fmb-account .username code{
  font-size: 3em;
}

.fmb-account .login-google {
  background: url(../img/sign-in-with-google.png) 0 0 no-repeat;
  background-size: 100%;
  border: 0;
  height: 55px;
  margin: 0;
  padding: 0;
  width: 250px;
  -webkit-appearance: none;
}

.fmb-account .login-google span {
  display: none;
}

.fmb-account .user-img-name {
  margin-bottom: 1em;
}

.fmb-account .user-img-name > img,
.fmb-account .user-img-name > h2 {
  display: inline-block;
  vertical-align: top;
}

.fmb-account .user-img-name > img {
  box-shadow: 1px 1px 2px #ccc;
  height: 75px;
  min-width: 75px;
}

/* Device */
.fmb-device {
  margin-bottom: 2em;
}

.fmb-device h3 {
  border-bottom: 2px solid #666;
}

.fmb-device .device > .fmb-remove {
  margin-top: 5px;
}

/* Notifying table */
.fmb-notifying .info-headline {
  font-size: 80%;
  margin-bottom: 0;
}

.fmb-notifying .fmb-remove {
  margin-top: -15px;
}

.fmb-notifying th {
  border-top: 0;
}

.fmb-notifying td {
  padding: 1em 0.5em;
}
