
.battery-level-c {
  text-align: center;
  white-space: nowrap;
}

.fmb-following .battery-level {
  font-size: 1.5em;
  display: inline-block;
  border: 2px solid #666;
  border-radius: 5px;
  padding-left: 10px;
}

.fmb-following .battery-level:after {
  content: "";
  left: 5px;
  position: relative;
  display: inline-block;
  line-height: 1;
  top: -2px;
  width: 4px;
  height: 13px;
  background: #666;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fmb-following .charging-1:before {
  content: "charging";
  display: block;
  font-size: 70%;
  font-weight: 300;
}

.fmb-following .battery-created {
  margin-top: 4px;
  font-size: 85%;
  font-weight: 500;
}

.fmb-following tr:first-child td {
  border-top: 0;
  border-bottom: 2px solid #666;
}

.fmb-following td {
  text-align: center;
}

.fmb-following thead {
  display: none;
}

.fmb-following footer {
  font-size: 90%;
}

.fmb-following tfoot {
  display: none;
}

.fmb-following h4 {
  margin: 0 0 0.2em;
  padding-top: 0;
}


.fmb-following-user h2 {
  display: inline-block;
}

.fmb-following-user tr:first-child td {
  text-align: left;
}

.fmb-following-user tr:first-child td:last-child {
  padding: 0;
  margin: 0;
}

.fmb-following-user .fmb-remove {
  margin-top: 15px;
}

.fmb-following-device .battery-graph {
  height: 150px;
  width: 250px;
  margin: 0 auto;
  position: relative;
  left: -20px;
}

