
.battery-level-c {
  text-align: center;
  white-space: nowrap;
}

.fmb-following .battery-level {
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
  border: 2px solid #000;
  border-radius: 5px;
  padding-left: 10px;
}

.fmb-following .battery-level:after {
  content: "";
  left: 5px;
  position: relative;
  display: inline-block;
  line-height: 1;
  top: -2px;
  width: 4px;
  height: 13px;
  background: #000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fmb-following .remove-cell {
  text-align: center;
}

.fmb-following .charging-1:before {
  content: "charging";
  display: block;
  font-size: 70%;
  font-weight: normal;
}

.fmb-following .battery-created {
  font-size: 70%;
}

.fmb-following footer {
  font-size: 90%;
}

.fmb-following tfoot {
  display: none;
}

/* Following user table */


.fmb-following-user tr:first-child td {
  border: 0;
}

/*
.fmb-following-device .battery-graph {
  display: inline-block;
  position: relative;
}

.fmb-following-device .battery-graph .chart {
  position: relative;
  left: 40px;
}

.fmb-following-device .battery-graph .y-axis {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 40px;
}
*/
