
.battery-level-c {
  text-align: center;
  white-space: nowrap;
}

.fmb-following .battery-level {
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
  border: 2px solid #000;
  border-radius: 5px;
  padding-left: 10px;
}

.fmb-following .battery-level:after {
  content: "";
  left: 5px;
  position: relative;
  display: inline-block;
  line-height: 1;
  top: -2px;
  width: 4px;
  height: 13px;
  background: #000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fmb-following .remove-cell {
  text-align: right;
}

.fmb-following .remove {
  display: inline-block;
  padding: 10px;
}

.fmb-following .charging-1:before {
  content: "charging";
  display: block;
  font-size: 70%;
  font-weight: normal;
}

.fmb-following .battery-created {
  font-size: 70%;
}

.fmb-following td {
  text-align: center;
}

.fmb-following thead {
  display: none;
}

.fmb-following footer {
  font-size: 90%;
}

.fmb-following tfoot {
  display: none;
}

.fmb-following h4 {
  margin: 0 0 0.2em;
  padding-top: 0;
}


.fmb-following-user tr:first-child td {
  border: 0;
}


.fmb-following-device .battery-graph {
  height: 150px;
  width: 250px;
}

