{% extends "base.html"%}

{% block head %}
  <style>
    .result-c {
      margin: 1em 0;
    }
    .result {
      display: inline-block;
      border: 1px solid #999;
      background-color: #ccc;
      padding: 0.5em;
    }
    textarea {
      width: 500px;
      height: 100px;
    }
  </style>

  <script src="/static/js/zepto.js"></script>
{% endblock %}

{% block body %}
  <section>
    <header>
      <h1><span>Levels<span></h1>
      <h2>Admin User Message Test</h2>
    </header>

    <div class="result-c">
      <div class="result">
        Result: {{result}}
      </div>
    </div>

    <form method="POST" action="/admin/user_message_test">
      <div>
        <input type="text" name="user_id" placeholder="User ID"
          value="19001">
      </div>
      <p>
        <textarea name="extras">{"url": "http://www.levelsapp.com/p/elsigh"}</textarea>
      </p>
      <p>
        <textarea name="message">Test message</textarea>
      </p>
      <p>
        <input type="submit">
      </p>
    </form>
  </section>
  <script>

    var prefix = 'admin-user-message';
    var names = ['user_id', 'message', 'extras'];
    $(names).each(function(i, name) {
      var localKey = prefix + '-' + name;
      var localData = localStorage.getItem(localKey);
      var selector = '[name="' + name + '"]';
      var $el = $(selector);
      if (localData) {
        $el.val(localData);
      }
      $el.on('input', function() {
        localStorage.setItem(localKey, $el.val());
      });
    });

  </script>
{% endblock %}
