{% extends "base.html" %}

{% block head %}
  <style>
    .admin-user {
      border-bottom: 1px solid #000;
    }
  </style>
{% endblock %}

{% block body %}
  <section>
    <header>
      <h1><span>Levels<span></h1>
      <h2>Admin: Users</h2>
    </header>

    <ol>
      {% for user in users %}
        <li class="admin-user">
          <h3>
            {{user.name}}
            <a
              target="_blank"
              href="http://www.levelsapp.com/p/{{user.unique_profile_str}}">{{user.unique_profile_str}}</a>
            {{user.email}}
            {{user.created.strftime('%b %d %l:%M %p')}}
          </h3>
          <ol>
            {% for device in user.devices %}
              <li>
                <h4>
                  {{device.platform}} {{device.name}} {{device.version}} -
                  app_version: {{device.app_version}}
                  modified: {{device.modified.strftime('%b %d %l:%M %p')}}
                </h4>
              </li>
            {% endfor %}
          </ol>

        </li>
      {% endfor %}
    </ol>
  </section>
{% endblock %}
