<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{{title}}</title>
    <meta name="description"
      content="">
    <meta name="author" content="elsigh">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Prevent the browser from opening external app handlers (in sane phones). -->
    <meta name="format-detection"
      content="address=no,telephone=no,email=no">

    <!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1.0">

    <!-- OS web app, deletable if not needed -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Mobile IE allows us to activate ClearType technology for
         smoothing fonts for easy reading -->
    <meta http-equiv="cleartype" content="on">

    {% block head %}{% endblock %}

    <!--[if lt IE 8]>
      <script
        src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"
        ></script>
      <script>
        window.attachEvent("onload", function() {
          CFInstall.check({
            mode: 'overlay'
          });
        });
      </script>
    <![endif]-->
    <!--[if lt IE 9]>
      <script>
        // IE HTML5 shim.
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('footer');
      </script>
    <![endif]-->
  </head>
  <body
    class="{% spaceless %}
      {% if user_agent.device.family %} {{user_agent.device.family|slugify}} {{user_agent.device.family|slugify}}-{{user_agent.device.major}}{% endif %}

      {% if user_agent.user_agent.family %} {{user_agent.user_agent.family|slugify}} {{user_agent.user_agent.family|slugify}}-{{user_agent.user_agent.major}} {{user_agent.user_agent.family|slugify}}-{{user_agent.user_agent.major}}-{{user_agent.user_agent.minor}}{% endif %}

      {% if user_agent.os.family %} {{user_agent.os.family|slugify}} {{user_agent.os.family|slugify}}-{{user_agent.os.major}} {{user_agent.os.family|slugify}}-{{user_agent.os.major}}-{{user_agent.os.minor}}{% endif %}

      {% endspaceless %}">

      {% block body %}
      {% endblock %}

  </body>
</html>

