{% extends "base.html"%}

{% block head %}
  <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block body %}
  <section class="fmb-index">

    <ul>
      <li>
        The App that lets your friends or family know <strong>before</strong> your battery dies!
      </li>
      <li>
        Instant view of loved ones' battery status if they don't answer the phone.
      </li>
      <li>
        Battery history / recommendations based on power drain.
      </li>
    </ul>

    <div class="screenshot">
      <img src="/static/img/screenshot.png" alt="" title="screenshot">
    </div>

    <!--<a href="/p/elsigh">Live example</a>-->

    <div class="download-app">
      <a class="goog-play"
        href="//play.google.com/store/apps/details?id=com.elsigh.levels">
        <img alt="Android app on Google Play"
          src="/static/img/google_play_store.png">
      </a>
      <!--
      <a
        class="ios-store"
        href=" http://itunes.com/apps/LevelsApp">
        <img alt="iOS App"
          src="/static/img/ios_app_store.png"
          title="pending review">
      -->
      </a>
    </div>

  </section>
{% endblock %}
