
{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/profile.css">
  <link rel="stylesheet" href="/static/css/xcharts.css">
{% endblock %}

{% block body %}
  <div class="media">
    <div class="img avatar">
      <img src="{{ user.avatar_url }}">
    </div>

    <div class="download-app">
      <a class="goog-play"
        href="//play.google.com/store/apps/details?id=com.elsigh.levels">
        <img alt="Android app on Google Play"
          src="/static/img/google_play_store.png">
      </a>

      <a
        href=" http://itunes.com/apps/LevelsApp">
        <img alt="iOS App"
          src="/static/img/ios_app_store.png"
          title="pending review">
      </a>
    </div>

    <h2>
      {{ user.name }}
    </h2>

  </div>

  <section class="www-contents">
    <table>
      <thead>
        <tr>
          <th>device</th>
          <th>trend</th>
        </tr>
      </thead>
      <tbody>
        {% for device in user.devices %}
          {% if device.settings|length %}
            <tr class="fmb-device-{{ device.key }}">
              <td>
                <h3>{{ device.platform }} {{ device.name }}</h3>
                <ul class="counters">
                  <li>
                    <strong>{{ device.send_battery_notifications_count }}</strong>
                    battery notification{% if device.send_battery_notifications_count_is_plural %}s{% endif %}.
                  </li>
                  <li>
                    <strong>{{ device.settings_received_count}}</strong>
                    level{% if device.settings_received_count_is_plural %}s{% endif %} saved.
                  </li>
                </ul>
                <div class="battery-level-c charging-{{ device.settings.0.is_charging }}">
                  <div class="battery-level"
                    data-level="{{ device.settings.0.battery_level }}">
                    {{ device.settings.0.battery_level }}%
                  </div>

                  <div class="battery-created"
                    data-utc-date="{{ device.settings.0.created.isoformat() }}">
                    {{ device.settings.0.created.strftime('%b %d %l:%M %p') }}
                  </div>
                </div>
              </td>
              <td>
                <figure class="battery-graph"></figure>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>


    <br>
    <p>
      {{user.name}} is using a new App called <a href="//play.google.com/store/apps/details?id=com.elsigh.levels">Levels</a> - and you can too!
    </p>
    <ul>
      <li>
        Automatically lets your friends or family know BEFORE your battery dies!
      </li>
      <li>
        Instant view of loved ones' battery status if they don't answer the phone.
      </li>
      <li>
        Battery history / recommendations based on power drain.
      </li>
    </ul>

    <p>
      <a href="mailto:elsigh@gmail.com?Subject=Levels App">contact developer</a>
    </p>

    {# Commented out
      <h2>webapp2 auth session</h2>
      <table>
        <tbody>
          {% if session %}
            {% for k, v in session.items() -%}
              <tr>
                <td style="padding-right: 5px">{{ k }}:</td>
                <td>{{ v }}</td>
              </tr>
            {% endfor -%}
          {% endif %}
        </tbody>
      </table>
    #}
  </section>


  <script src="/static/js/zepto.js"></script>
  <script src="/static/js/d3.v2.js"></script>
  <script src="/static/js/xcharts.js"></script>
  <script>
    window.fmbUser = {{user_json|safe}};
  </script>
  <script src="/static/js/www.js"></script>
  <script>
    fmbProfile.init();
  </script>

  {% if close %}
    <script>
      window.close();
    </script>
  {% endif %}
{% endblock %}
