
{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="stylesheet" href="/static/css/profile.css">
  <link rel="stylesheet" href="/static/css/rickshaw.css">

  <script src="/static/js/zepto-1.0rc1.js"></script>
  <script src="/static/js/d3.v2.js"></script>
  <script src="/static/js/rickshaw.js"></script>

{% endblock %}

{% block body %}
  <div class="media">
    <div class="img avatar">
      <img src="{{ user.avatar_url }}">
    </div>

    <div class="battery-chart">
      <div class="y-axis"></div>
      <div class="chart"></div>
    </div>

    <div class="body">
      <h1>
        {{ user.name }}
      </h1>
    </div>
  </div>

  <section class="www-contents">
    <table>
      <thead>
        <tr>
          <th>device</th>
          <th>battery</th>
        </tr>
      </thead>
      <tbody>
        {% for device in user.devices %}
          {% if device.settings.length %}
            <tr>
              <td>
                {{ device.platform }} {{ device.name }}
              </td>
              <td class="battery-level-c charging-{{ device.settings.0.is_charging }}">
                <div class="battery-level"
                  data-level="{{ device.settings.0.battery_level }}">
                  {{ device.settings.0.battery_level }}%
                </div>

                <div class="battery-created">
                  {{ device.settings.0.created }}
                </div>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>


    <br>
    <p>
      {{user.name}} is using the FollowMyBattery App and you can too!
    </p>
    <p>
      <a href="http://play.google.com/store/apps/details?id=com.phonedied.android">
        <img alt="Android app on Google Play"
          src="http://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
      </a>
    </p>
    <ul>
      <li>
        Automatically lets your friends or family know BEFORE your battery dies!
      </li>
      <li>
        Instant view of loved ones' battery status if they don't answer the phone.
      </li>
      <li>
        Battery history / recommendations based on power drain.
      </li>
    </ul>

    <p>
      <a href="mailto:elsigh@gmail.com?Subject=FollowMyBattery">Talk to Us!</a>
    </p>

    {# Commented out
      <h2>webapp2 auth session</h2>
      <table>
        <tbody>
          {% if session %}
            {% for k, v in session.items() -%}
              <tr>
                <td style="padding-right: 5px">{{ k }}:</td>
                <td>{{ v }}</td>
              </tr>
            {% endfor -%}
          {% endif %}
        </tbody>
      </table>
    #}

    <footer>
      @Copyright 2013 - FollowMyBattery
    </footer>
  </section>

  <script>
    window.fmbUser = {{user_json|safe}};
  </script>
  <script src="/static/js/www.js"></script>
  <script>
    fmbProfile.init();
  </script>


  {% if close %}
    <script>
      window.close();
    </script>
  {% endif %}
{% endblock %}
