
.fmb-how-it-works .fmb-app-link {
  font-size: 120%;
}

.fmb-account .account > p:first-child {
  padding-top: 0;
  margin-top: 0;
}

.fmb-account .how-it-works-c {
  display: block;
  margin-top: 0.5em;
}

.fmb-account .login-google {
  background: url(../img/sign-in-with-google.png) 0 0 no-repeat;
  background-size: 100%;
  border: 0;
  height: 55px;
  margin: 0;
  padding: 0;
  width: 250px;
  -webkit-appearance: none;
}

.fmb-account .login-google span {
  display: none;
}

.fmb-account .signin-info {
  font-size: 85%;
}

.fmb-account .user-header {
  margin-bottom: 1em;
}

.fmb-account .user-header > img {
  float: left;
  height: 40px;
  min-width: 40px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.fmb-account .user-info {
  margin-left: 50px;
}

.fmb-account .user-info h2 {
  padding: 0 0 0.5em;
}

.fmb-account .user-info .share {
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  padding: 7px 5px 5px;
  vertical-align: middle;
}

.fmb-account .user-info .share::after {
  background: url(../img/share_this.png);
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.6em;
  background-repeat: no-repeat;
  background-size: 1.5em;
  vertical-align: middle;
}

.fmb-account .label-c {
  margin: 0.7em 0;
  font-size: 85%;
}

/* Device */
.fmb-device {
  border: 1px solid #999;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 1.5em;
  padding: 0 10px;
  position: relative;  /* For the remove button. */
}

.fmb-device .device > .fmb-remove {
  margin: 10px 10px 0 0;
}

/* Notifying table */
.fmb-notifying .info-headline {
  font-size: 80%;
  margin: 0;
  padding: 0;
}

.fmb-notifying .fmb-button-c {
  padding: 10px 0;
}

.fmb-notifying .fmb-remove {
  margin: -1em 10px 0 0;
}

.fmb-notifying > table {
  margin: 0.2em 0 0;
}

.fmb-notifying th {
  border-top: 0;
}

.fmb-notifying td {
  padding: 1em 0.5em;
  border-color: #999;
}
