
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  background-color: #ccc;
  color: #111;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-shadow: 0 1px 1px #fff;
  line-height: 1.3;
  height: 100%;
  margin: 0;
  padding: 0;

  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
}

body.ios,
body.android {
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

footer {
  margin-top: 2em;
  font-size: 90%;
  padding: 10px;
  text-align: center;
}

h1 {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  z-index: 2;
  width: 100%;
  font-size: 1.6em;
  margin: 0;
  padding: 10px;
  background-color: #ccc;
  background-image: url(../img/logo.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 100px auto;
  font-weight: 400;
  border-bottom: 2px solid #3b97d1;

  /* otherwise it disappears . */
  -webkit-transform: translateZ(0);
}

h1 > a {
  display: inline-block;
  width: 150px;
}

h1 > a > span,
h1 > span {
  visibility: hidden;
}

h2 {
  font-size: 1.2em;
  margin: 0;
  padding-bottom: 10px;
  font-weight: 300;
}

h3,
h4 {
  padding: 10px 0 10px;
  margin: 0;
  font-weight: 300;
}

a {
  text-shadow: none;
  color: #3b97d1;
}

figure {
  margin: 0;
  padding: 0;
}

table {
  margin: 1em 0;
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  font-weight: 400;
}

th,
td {
  padding: 0.5em;
  border-top: 1px solid #666;
}

form > div {
  margin-bottom: 1.5em;
}


input[type="text"] {
  font-size: 2em;
  width: 60%;
}

.fmb-btn,
input[type="submit"],
button {
  background: #3b97d1;
  border: 1px solid #2881b8;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  font-size: 0.8em;

  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.fmb-btn:active,
input[type="submit"]:active,
button:active {
  -webkit-box-shadow: inset 0 0 0.6em rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0.6em rgba(0, 0, 0, 0.2);
}

.fmb-remove {
  position: absolute;
  display: inline-block;
  font: inherit;
  font-size: 1em;
  border: 0;
  right: 10px;
  padding: 5px 10px;
  color: #ccc;
  text-shadow: none;
  background: #aaa;
  border-radius: 2px;
}

.fmb-remove:active {
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.fmb-msg-c {
  display: none;
  position: fixed;
  z-index: 2;
  bottom: 2em;
  width: 100%;
  text-align: center;
}

.fmb-msg {
  display: inline-block;
  margin: 0 auto;
  padding: 0.5em 1.5em;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  border: 1px solid #000;
  background: #444;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.nav {
  height: 55px;
}

.nav .sign-in-out {
  position: fixed;
  display: inline-block;
  right: 10px;
  z-index: 3;
  margin-top: 0.8em;
}


.range {
  text-align: center;
}
input[type="range"] {
  width: 85%;
}

.fmb-tab-frame {
  position: absolute;
  top: 55px;
  right: 0;
  bottom: 0;
  left: 0;

  /* errybody gets their own layer or shit goes crazy */
  -webkit-transform: translateZ(0);
}

.fmb-signed-in .fmb-tab-frame {
  top: 110px;
}

.fmb-tab-frame.fmb-active {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.fmb-tab {
  box-sizing: border-box;
  padding: 20px 10px 0;
  height: 100%;
  width: 100%;
  vertical-align: top;
  white-space: normal;  /* counteracts nowrap on tab-c */

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: scroll;
}

.fmb-tab-header h2 {
  display: inline-block;
  margin: 0 1em 0 0;
  padding: 0;
  vertical-align: bottom;
}

.fmb-signed-in .tabs-c {
  display: block;
}

.tabs-c {
  display: none;
}

.tabs {
  background: #ccc;
  width: 100%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.tabs a,
.tabs span {
  display: inline-block;
  color: #111;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  padding-top: 1em;
  padding-bottom: 1em;
  -webkit-box-sizing: border-box;
  width: 49.9%;
  text-decoration: none;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.tabs a:last-child,
.tabs span:last-child {
  border-right: 0;
}

.Xtabs a:active,
.Xtabs span:active,
.tabs a.selected,
.tabs span.selected {
  -moz-box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.2);
}

.content {
  padding: 10px;
}

.fmb-button-c {
  padding: 10px;
}
