
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  background-color: #111;
  color: #fff;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-shadow: 0 1px 1px #000;
  line-height: 1.3;
  height: 100%;
  margin: 0;
  padding: 0;

  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

}

h1 {
  font-size: 1.6em;
  margin: 0;
  padding: 10px;
  background: #111;
  font-weight: 400;
  border-bottom: 2px solid #34b2e0;
}

h2 {
  font-size: 1.2em;
  margin: 0;
  padding: 20px 10px 10px;
  font-weight: 300;
}

h3,
h4 {
  padding: 10px 10px 10px;
  margin: 0;
  font-weight: 300;
}

a {
  text-shadow: none;
  color: #34b2e0;
}

figure {
  margin: 0;
  padding: 0;
}

p {
  padding: 0 10px;
}

table {
  margin: 1em 0;
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  font-weight: 400;
}

th,
td {
  padding: 0.5em;
  border-top: 1px solid #666;
}

form > div {
  margin-bottom: 1.5em;
}


input[type="text"] {
  font-size: 2em;
  width: 60%;
}

input[type="submit"],
button {
  background: #34b2e0;
  border: 0;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 1px 1px #000;
  line-height: 1;
  font-size: 0.8em;

  border-radius: 2px;

}

input[type="submit"]:active,
button:active {
  text-shadow: -1px -1px 1px #000;
}

.fmb-remove {
  position: absolute;
  right: 10px;
  display: inline-block;
  padding: 5px 10px;
  background: #222;
  border-radius: 2px;
}

.nav a {
  float: right;
  margin: 0.7em 10px 0 0;
}

.range {
  text-align: center;
}
input[type="range"] {
  width: 85%;
}

.fmb-tab {
  position: absolute;
  top: -9999px;
  padding: 20px 0 0 0;
}

.fmb-tab.fmb-active {
  position: static;
}

.fmb-tab-header {
  padding: 0 10px;
}

.fmb-tab-header h2 {
  display: inline-block;
  margin: 0 1em 0 0;
  padding: 0;
  vertical-align: bottom;
}

.tabs {
  background: #111;
  -webkit-box-shadow: 0 1px 1px #222;
  -moz-box-shadow: 0 1px 1px #222;
  box-shadow: 0 1px 1px #222;
}

.tabs a,
.tabs span {
  display: inline-block;
  color: #eee;
  text-align: center;
  text-shadow: 0 1px 1px #000;
  padding-top: 1em;
  padding-bottom: 1em;
  -webkit-box-sizing: border-box;
  width: 33%;
  text-decoration: none;
  border-right: 1px solid #222;
  border-bottom: 2px solid #000;
}
.tabs a:last-child,
.tabs span:last-child {
  border-right: 0;
}
.tabs a.selected,
.tabs span.selected {
  border-bottom-color: #34b2e0;
}

.content {
  padding: 10px;
}

.fmb-button-c {
  padding: 10px;
}
