
.fmb-following .info-other-users {
  font-size: 85%;
  margin: 0;
  padding: 0;
}

/* Disabled on iOS until we implment the "levels://" protocol. */
.fmb-platform-ios .fmb-following .info-other-users {
  display: none;
}

.fmb-following .info-other-users .info {
  font-size: 75%;
  background: #3b97d1;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  color: #fff;
  text-shadow: none;
  padding: 5px 10px;
  float: left;
  margin-right: 0.5em;
  font-weight: bold;
  text-shadow: none;
}

.fmb-following > table {
  margin-top: 0; /* We'll take care of margin another way. */
}


.fmb-following td {
  text-align: center;
}

.fmb-following thead {
  display: none;
}

.fmb-following footer {
  font-size: 90%;
}

.fmb-following tfoot {
  display: none;
}

.fmb-following h4 {
  margin: 0 0 0.5em;
  padding: 0;
}

/** Following user */

.fmb-following-user h2 {
  display: inline-block;
  vertical-align: bottom;
  padding-left: 40px;
  background-size: 30px 30px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.fmb-following-user .following-user td {
  text-align: left;
  padding: 1em 5px 0;  /* Effectively, this is user separation. */
  position: relative;  /* For the remove button. */
  border: 0;
  border-bottom: 1px solid #999;
}

.fmb-following-user .fmb-loading {
  display: inline-block;
}

.fmb-following-user .following-user .fmb-remove {
  bottom: 2px;
}


/** Following device */

.fmb-following-device td:first-child {
  border: 0;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  width: 1%;
}

.fmb-following-device td:last-child {
  border: 0;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}


.fmb-following-device .battery-level-c {
  text-align: center;
  white-space: nowrap;
}

.fmb-following-device .battery-level {
  font-size: 1.5em;
  color: #fff;
  text-shadow: 0 1px 1px #111;
  display: inline-block;
  border: 2px solid #666;
  border-radius: 5px;
  padding-left: 10px;
}

.fmb-following-device .battery-level:after {
  content: "";
  left: 5px;
  position: relative;
  display: inline-block;
  line-height: 1;
  top: -2px;
  width: 4px;
  height: 13px;
  background: #666;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fmb-following-device .charging-1:before {
  content: "charging";
  display: block;
  font-size: 70%;
  font-weight: 300;
}

.fmb-following-device .battery-created {
  margin-top: 4px;
  font-size: 85%;
  font-weight: 500;
}


.fmb-following-device .counters {
  display: inline-block;
  font-size: 70%;
  text-align: left;
  list-style: none;
  margin: 1em 0 0;
  padding: 0;
}

.fmb-following-device .counters li {
  margin-bottom: 0.3em;
}

.fmb-following-device .counters strong {
  font-weight: normal;
  background: #eee;
  padding: 1px 3px;
  border: 1px solid #bbb;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-radius: 5px;
}


.fmb-following-device .counters .wifi,
.fmb-following-device .counters .bluetooth {
  background: url(../img/wifi_off.png) 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  height: 16px;
  width: 20px;
  margin-right: 0.2em;
}

.fmb-following-device .counters .bluetooth {
  height: 16px;
  width: 16px;
  background-image: url(../img/bluetooth_off.png);
}

.fmb-following-device .counters .bluetooth-on {
  background-image: url(../img/bluetooth_on.png);
}


.fmb-following-device .counters .wifi-on {
  background-image: url(../img/wifi_on.png);
}


.fmb-following-device .counters .ringer-mode {
  display: inline-block;
}

.fmb-following-device .battery-graph-td {
  padding-left: 0;
  padding-right: 0;
}

.fmb-following-device .battery-graph {
  height: 150px;
  min-width: 175px;
  margin: 0 auto;
  position: relative;
}

