
.fmb-following .info-other-users {
  font-size: 85%;
  margin-top: 0;
  padding-top: 0;
}

.fmb-following .info-other-users .info {
  font-size: 75%;
  background: #3b97d1;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  color: #fff;
  text-shadow: none;
  padding: 5px 10px;
  float: left;
  margin-right: 0.5em;
  font-weight: bold;
  text-shadow: none;
}


.fmb-following .battery-level-c {
  text-align: center;
  white-space: nowrap;
}

.fmb-following .battery-level {
  font-size: 1.5em;
  color: #fff;
  text-shadow: 0 1px 1px #111;
  display: inline-block;
  border: 2px solid #666;
  border-radius: 5px;
  padding-left: 10px;
}

.fmb-following .battery-level:after {
  content: "";
  left: 5px;
  position: relative;
  display: inline-block;
  line-height: 1;
  top: -2px;
  width: 4px;
  height: 13px;
  background: #666;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fmb-following .charging-1:before {
  content: "charging";
  display: block;
  font-size: 70%;
  font-weight: 300;
}

.fmb-following .battery-created {
  margin-top: 4px;
  font-size: 85%;
  font-weight: 500;
}

.fmb-following tr:first-child td {
  border-top: 0;
  border-bottom: 2px solid #666;
}

.fmb-following td {
  text-align: center;
}

.fmb-following thead {
  display: none;
}

.fmb-following footer {
  font-size: 90%;
}

.fmb-following tfoot {
  display: none;
}

.fmb-following h4 {
  margin: 0 0 0.2em;
  padding-top: 0;
}


.fmb-following-user h2 {
  display: inline-block;
  vertical-align: bottom;
  padding-left: 50px;
  background-size: 30px 30px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.fmb-following-user tr:first-child td {
  text-align: left;
}

.fmb-following-user tr:first-child td:last-child {
  padding: 0;
  margin: 0;
}

.fmb-following-user .fmb-loading {
  display: inline-block;
}

.fmb-following-user .fmb-remove {
  margin-top: 15px;
}


/** Following device */

.fmb-following-device .counters {
  display: inline-block;
  font-size: 70%;
  text-align: left;
  list-style: none;
  margin: 1em 0 0;
  padding: 0;
}

.fmb-following-device .counters li {
  margin-bottom: 0.3em;
}

.fmb-following-device .counters strong {
  font-weight: normal;
  background: #eee;
  padding: 1px 3px;
  border: 1px solid #bbb;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-radius: 5px;
}

.fmb-following-device .battery-graph {
  height: 150px;
  width: 250px;
  margin: 0 auto;
  position: relative;
  left: -20px;
}

