
.fmb-index {
  max-width: 900px;
  position: relative;
}

.fmb-index .download-app {
  text-align: center;
  position: absolute;
  top: 150px;
  right: 10%;
  margin: 40px 10px 0 0;
}

.fmb-index .download-app a {
  display: block;
}

.fmb-index .download-app img {
  height: 60px;
}

.ios .ios-store,
.android .goog-play {
  position: fixed;
  z-index: 2;
  top: 5px;
  right: 10px;
}

.fmb-index .screenshot img {
  width: 250px;
  border: 1px solid #999;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.fmb-index h3 {
  margin-top: 2em;
}

@media only screen and (max-width: 550px) {

  .fmb-index {
    text-align: center;
  }

  .fmb-index ul {
    text-align: left;
  }

  .fmb-index .screenshot img {
    width: 150px;
    margin: 0 auto;
  }

  .fmb-index .download-app {
    position: static;
    margin: 1.5em 0;
  }

  .fmb-index .download-app img {
    height: 45px;
  }

}
