

ul {
  margin: 0;
  line-height: 1.5;
}

h3 {
  margin-top: 0;
}

th,
td {
  text-align: center;
}

footer {
  color: #ddd;
  position: fixed;
  font-size: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.avatar {
  display: inline-block;
  vertical-align: middle;
}

.avatar img {
  height: 150px;
}

.goog-play {
  position: absolute;
  right: 10px;
  margin: 40px 10px 0 0;
}
.goog-play img {
  height: 60px;
}


.battery-level-c {
  text-align: center;
  white-space: nowrap;
}

.battery-level {
  font-size: 1.5em;
  display: inline-block;
  border: 2px solid #666;
  border-radius: 5px;
  padding-left: 10px;
}

.battery-level:after {
  content: "";
  left: 5px;
  position: relative;
  display: inline-block;
  line-height: 1;
  top: -2px;
  width: 4px;
  height: 13px;
  background: #666;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.charging-1:before {
  content: "charging";
  display: block;
  font-size: 70%;
  font-weight: 300;
}
.battery-created {
  margin-top: 4px;
  font-size: 85%;
  font-weight: 500;
}


.battery-graph {
  display: inline-block;
  width: 300px;
  height: 150px;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 13px;
  }
  .avatar img {
    width: 100px;
    height: 100px;
  }
  .goog-play {
    margin-top: 30px;
  }
  .goog-play img {
    height: 40px;
  }

  .battery-graph {
    width: 180px;
    height: 100px;
  }
}
