<?xml version="1.0" encoding="utf-8"?>
<widget
    id="com.elsigh.levels"
    version="0.0.1"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Levels</name>
    <description>
        Levels
    </description>
    <author email="elsigh@gmail.com" href="http://levelsapp.com/">
        Levels
    </author>
    <preference name="SplashScreen" value="splash" />
    <preference name="BackgroundColor" value="0x00000000" />
    <content src="index.html" />
    <access origin="*" />
</widget>
